@font-face {
    font-family: 'Airstream';
    src: url('./Airstream-webfont.woff') format('woff'),
        url('./Airstream-webfont.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;    
}

.hello {
    color: blue;
    font-family: 'Airstream';
    background-color: red;
    background: url('./ScissorsII.png');
    width: 80%;
}
